:root {
    --bg: #F1F1F1;
    --border: #BDBDBD;
    --bgcolorB: #ffffff;
    --p: #4A4A4A;
    --boton: #EF5858;
    --black: #000000;
    --loader:#78db60;
    --title: #8d8d8d;   
    --total: #2ab625;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Judson", serif;
    background-color: var(--bg);
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 1.5rem;
}

.back .volver {
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--boton);
}

.border-box {
    background-color: var(--bgcolorB);
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    width: 500px;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.border-box .card-box {
    display: flex;
    justify-content: center;
    margin: 2rem 0 2rem;
}

.border-box .card-box img{
    max-width: 300px;
    max-height: 300px;
}

.inputs-boxes {
    margin: 0 2rem 0;
}

.inputs-boxes h3 {
    font-size: 1.3rem;
    margin-top: 1.5rem;
    margin-bottom: 0.2rem;
}

.inputs-boxes input {
    height: 2.2rem;
    width: 100%;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
}

input[type="text"] {
    color: var(--black);
    padding: 1rem;
    font-size: 0.9rem;
}

input[type="password"] {
    color: var(--black);
    padding: 1rem;
    font-size: 0.9rem;
}

.box2-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    display: block;
    margin: 2rem auto;
    padding: 1rem 3rem;
    background-color: var(--boton);
    color: var(--bg);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.2s ease-in;
}

button:hover {
    background-color: #c23a3a;
}

button a {
    text-decoration: none;
    color: inherit;
}

.processing-container, .success-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.processing-box, .success-box {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}

.processing-box p {
    margin: 1rem auto 0;
    font-size: 1.3rem;
    font-weight: bold;
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid var(--loader);
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 1rem auto 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.success-box img {
    width: 100px;
    height: 100px;
    margin: 1rem 0;
}

.summary {
    margin-top: 1rem;
    text-align: left;
}

.summary-header,
.summary-item,
.summary-total {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    gap: 2rem;
}

.summary-item {
    display: flex;
    align-content: center;
    align-items: center;
}

.summary-item .mar1 {
    max-width: 7rem;
}

.summary-item .container-box {
    display: flex;
    justify-content: space-between;
    gap: 55px;
}

.summary-total .total {
    color: var(--total);
}

.summary-header div {
    font-weight: bold;
    color: var(--title);
}

hr {
    border: 1px solid var(--border);
    margin: 1rem 0;
}

.summary-total {
    font-weight: bold;
}

.boton {
    display: flex;
    justify-content: center;
    border: 1px solid (var(--total));
    border-radius: 10px;
    margin-top: 1rem;
    text-decoration: none;
    padding: 0.5rem;
    background-color: var(--total);
    color: var(--bgcolorB);
    font-size: 1.1rem;
    font-weight: bold;
}