* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Judson", serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
}

.logo {
    position: absolute;
    top: 22px;
    left: 22px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 200px;
}

.container {
    width: 440px;
    padding: 40px 32px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container h1 {
    font-size: 1.6rem;
    color: white;
}

.container .social-login {
    display: flex;
    gap: 16px;
    margin-top: 20px;
}

.container .social-login button {
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    border: 1px solid #ffffff;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container .social-login button i {
    font-size: 26px;
}

.container .social-login button:hover {
    color: #ececec;
    border-color: #ececec;
}

.container .divider {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container .divider .line {
    height: 1px;
    width: 100%;
    background: #ffffff;
    opacity: 0.2;
    margin: 30px 0 16px;
}
.or {
    color: white;
}

.container form label {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.03rem;
    display: block;
    margin-top: 12px;
}

.container form .custome-input {
    position: relative;
}

.container form .custome-input input {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    height: 46px;
    letter-spacing: 0.03rem;
    border: 1px solid #ffffff;
    background: transparent;
    outline: none;
    border-radius: 8px;
    text-indent: 20px;
    margin-top: 6px;
    transition: all 0.3s ease;
}

.container form .custome-input input:focus {
    border-color: #d3d3d3;
}

.container form .custome-input i {
    position: absolute;
    font-size: 28px;
    right: 10px;
    top: 14px;
    transition: all 0.3s ease;
}

.container form .custome-input input:focus + i{
    color: #888888;
}

.container form .login {
    width: 100%;
    margin-top: 30px;
    background: #a13d3d;
    color: #fff;
    border: none;
    line-height: 50px;
    font-size: 18px;
    letter-spacing: 0.025em;
    cursor: pointer;
    font-weight: 800;
    border-radius: 8px;
    box-shadow: #1d1d1d;
    transition: all 0.3s ease;
}

.container form .login:hover {
    background: rgb(146, 51, 51);
}

.container .links {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.container .links a {
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    text-underline-offset: 6px;
    text-decoration-color: #ffffff;
}

.container .links a:hover {
    text-decoration: underline;
}




